# Java
*.class
*.jar
*.war
*.ear
target/
build/

# Maven
.settings/
!/.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/

# IDEs
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets
.env
